<ion-view view-title="Push">
	<ion-content class="padding">
		<button class="button button-block button-dark" ng-click="vm.identifyUser()">
			Identifier  un utilisateur
		</button>

		<button class="button button-block button-positive" ng-disabled="!vm.identified" ng-click="vm.registerDevice()">
			Enregistrer un utilisateur
		</button>

		<div class="list">
			<div class="item item-input-inset">
				<label class="item-input-wrapper">
					<input type="text" ng-disabled="!vm.registered" placeholder="Message" ng-model="vm.message" >
				</label>
				<button class="button button-small" ng-disabled="!vm.registered || !vm.message" ng-click="vm.sendMessage()">
					Envoyez
				</button>
			</div>
		</div>

	</ion-content>
</ion-view>
