<ion-view cache-view="false">
	<ion-nav-title>
		{{ vm.item.title }}
	</ion-nav-title>
	<ion-content>

		<ul class="list">

			<li class="item item-icon-right" ng-click="vm.changeString('name')">
				<label>Nom:</label>
				<p class="padding">{{vm.item.name}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeDescription()">
				<label>Description:</label>
				<p class="padding">{{vm.item.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.chooseCategory()">
				<label>Categorie:</label>
				<p class="padding">{{vm.item.category.name}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.showOpenHours()">
				<label>Heures ouvrables:</label>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeString('drupal')">
				<label>Site Drupal:</label>
				<p class="padding">{{vm.item.drupal}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeString('email')">
				<label>Email:</label>
				<p class="padding">{{vm.item.email}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeString('facebookPage')">
				<label>Site Facebook:</label>
				<p class="padding">{{vm.item.facebookPage}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.changeString('officeLocation')">
				<label>Position Geographique:</label>
				<p class="padding">{{vm.item.officeLocation}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<li class="item item-icon-right" ng-click="vm.chooseTags()">
				<label>Tags:</label>
				<p class="padding">{{vm.item.tagsString}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</li>

			<div class="item item-divider item-icon-right">
				Images
				<i class="icon ion-plus" ng-if="!vm.isWebView" ng-click="vm.uploadImage(false)"></i>
				<label class="custom-file-upload" ng-if="vm.isWebView">
					<input type="file" id="file" file-change="vm.uploadImageWebView($event, files, false)"/>
					<i class="icon ion-plus"></i>
				</label>
			</div>

			<li class="item">
				<div ng-repeat="group in vm.imageGroups" class="row">
					<div ng-repeat="image in group" class="col col-{{vm.columnWidth}}" on-hold="vm.removeImage(image)">
						<div class="card" style="margin: 5px;">
							<div class="item item-image">
								<img ng-src="{{image}}">
							</div>
						</div>
					</div>
				</div> <!--/ row -->
			</li>

			<div class="item item-divider item-icon-right">
				Logo
				<i class="icon ion-plus" ng-if="!vm.isWebView" ng-click="vm.uploadImage(true)"></i>
				<label class="custom-file-upload" ng-if="vm.isWebView">
					<input type="file" id="file" file-change="vm.uploadImageWebView($event, files, true)"/>
					<i class="icon ion-plus"></i>
				</label>
			</div>
			<li class="item">
				<div class="card"
					ng-if="!!vm.item.logo"
					style="margin: 5px;"
					on-hold="vm.removeImage(vm.item.logo, true)">
					<div class="item item-image">
						<img ng-src="{{vm.item.logo}}">
					</div>
				</div> <!--/ row -->
			</li>
		</ul>
	</ion-content>
</ion-view>
