<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Item</h1>
		<button class="button button-clear button-primary" ng-click="cancel()">Annulez</button>
	</ion-header-bar>
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Jour (ex: 1=lundi, 2=mardi etc..)" ng-model="data.day">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Ouvert de (ex: 08h00)" ng-model="data.openAt">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="Ferme a (ex: 18h00)" ng-model="data.closeAt">
			</label>
			<button class="button button-full button-positive" ng-click="save()">Sauvegardez</button>
		</div>
	</ion-content>
</ion-modal-view>